{
  "plugins": ["@emotion", "@babel/syntax-dynamic-import", "@babel/plugin-proposal-class-properties"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "env": {
    "development" : {
      "compact": false
    }
  }
}
