.ml-2 {
  margin-left: 8px;
}
.mr-2 {
  margin-right: 8px;
}
.mt-2 {
  margin-top: 8px;
}
.mb-2 {
  margin-bottom: 8px;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.w-80 {
  width: 80%;
}
.h-80 {
  height: 80%;
}
.w-50 {
  width: 50%;
}
.h-50 {
  height: 50%;
}
.w-30 {
  width: 30%;
}
.h-30 {
  height: 30%;
}
.flex-fill {
  flex-grow: 1;
  flex-shrink: 1;
}
